body{
	background-color: black;
}

.center {
	text-align: center;
}

.center a {
	font-size: 25px;
}

#slider {
	width: 960px;
	margin: 0 auto;
	padding: 0 10px 10px;
}

#sliderCarousel {
	background: none;
	overflow: scroll; 
	height: 290px;
	margin-top: 20px;
}

#slider-left-button { 
	display: block; 
	margin-right: 10px; 
	color: #FFC312;
}

#slider-right-button { 
	display: block; 
	width: 30px; 
	height: 30px; 
	color: #FFC312;
}